ITTF_TrainStation/Service References/TrafficMessage/Communication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Communication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Communication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Begin" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Corruptioncheck" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataLen" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="End" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PossiblyCorrupt" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>